{% extends 'base.html.twig' %}

{% block body %}
<div id="wrapper">
    <p>hello form</p>
</div>
<div>
<form>
    {{ form_start(form) }}
        {{ form_errors(form) }}

        {{ form_row(form.Title) }}
        {{ form_row(form.Content) }}

        {{ form_row(form.Submit) }}
    {{ form_end(form) }}
</form>

</div>
{% endblock %}
